version: "3.9"

services:
  backend:
    container_name: paper-nest-backend
    build:
      context: ..
      dockerfile: .devcontainer/Docker/backend/Dockerfile
    working_dir: /workspace/backend
    ports:
      - "8000:8000"
    env_file:
      - Docker/backend/.env
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --workers 4
    restart: always

  frontend:
    container_name: paper-nest-frontend
    build:
      context: ..
      dockerfile: .devcontainer/Docker/frontend/Dockerfile
      args:
        NODE_VER: 20
    ports:
      - "80:80"
    env_file:
      - Docker/frontend/.env
    restart: always
